@charset "UTF-8";
.ui-header-container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: lightgray;
    display: block;
    height: 17px;
}

.ui-header {
    height: 30px; }

.header{
    color: black;
    font-weight: bold; 
    font-family: Arial;}

.add_name_button{
    color: black;
    font-weight: bold; 
    font-family: Arial;;
}

.add_name{
    color: black;
    font-weight: bold; 
    font-family: Arial;
    float: left;
    padding-right: 10px;}

.add_venue_name_button{
    color: black;
    font-weight: bold; 
    font-family: Arial;;
}

.add_venue{
    color: black;
    font-weight: bold; 
    font-family: Arial;
    float: left;
    padding-right: 10px;}

.ui-container {
    display: table;
    width: 100%;
    margin-top: 0px;
    /* header + menu */
    padding-top: 0px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.ui-row {
    height: 100%;
    display: table-row; }

#bodyVis, #headerVis {
    display: block;
    overflow-y: auto;
    overflow-x: hidden; }
      
* {
    margin: 0;
    padding: 0; }

.ui-column.ui-layout-east {
    border-left: 1px solid #999; }
      
      
.ui-column {
    display: table-cell;
    vertical-align: top;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 0px; }

.show_details{
    border-bottom: 1px solid #636363;
    margin-top: 12px;
    margin-bottom: 3px;
    padding-left: 5px; 
}

.brush rect.extent {
    fill: rgb(128,177,211);
    fill-opacity: .125;
  }

.brush .resize path {
fill: #eee;
stroke: #666;
}

.up_brush rect.extent {
    fill: #e8d3d3;
    fill-opacity: .125;
  }

.up_brush .resize path {
fill: #eee;
stroke: #666;
}

.down_brush rect.extent {
    fill: #d3e8d6;
    fill-opacity: .125;
  }

.down_brush .resize path {
fill: #eee;
stroke: #666;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}
